<div class="container top-component">
<h2>Price Details</h2>
<ul>
    <li>T-Shirts ~ $25+</li>
    <li>Hats ~ $20+</li>
    <li>Stoles ~ $40+</li>
    <li>Grad Cap Designs ~ $30+</li>
    <li>Sweatshirts ~ $30+</li>
    <li>Hoodies ~ $30+</li>
    <li>Etching ~ $25+</li>
    <li>Canvases ~ $25+</li>
    <li>Potato Chip & Candy Wrappers ~ varies based on quantity</li>
    <li>Bridal favors ~ varies based on quantity</li>
</ul>

    <div class="footer" style="background-color: rgb(158, 158, 158);">
        <h2 style="text-align:center; color:red">$10 DEPOSIT REQUIRED ~ NON-REFUNDABLE</h2>
        <p>Purchases should be made via one of the following:</p>
        <ul>
            <li>CashApp to $dGjCreations</li>
            <li>Zelle to 832-000-0000</li>
            <li>Cash</li>
        </ul>
    </div>
</div>