<mat-card>
    <div class="container" *ngIf="!submitted">
        <mat-card-header>
            <mat-card-title>Add Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form #productForm="ngForm">
                <div class="form-field-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput name="name" [(ngModel)]="product.name" required>
                        <mat-hint align="start">Name of the product</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" name="price" [(ngModel)]="product.price" required>
                        <span matPrefix>$&nbsp;</span>
                        <mat-hint align="start">How much the product will cost</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" name="quantity" [(ngModel)]="product.quantity" required>
                        <mat-hint align="start"># of product in stock</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-field-container">
                    <input type="file" name="image" accept="image/*" [(ngModel)]="product.image" (change)="onImageSelected($event)" required>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button type="button" class="success action-button" (click)="saveProduct()">Add</button>
            <button mat-flat-button type="button" class="success" (click)="closeDialog()">Close</button>
        </mat-card-actions>
    </div>
    <div class="container" *ngIf="submitted">
        <h4>Product was added successfully!</h4><hr>
        <button mat-flat-button type="button" class="success" (click)="addAnotherProduct()">Add More</button>
        <button mat-flat-button type="button" class="success success-button" (click)="closeDialogAndRefresh()">Close</button>
    </div>
</mat-card>
