.card-container {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute items with space between them */
  align-items: stretch;
}

.card {
  width: 30%; /* Adjust the width of the cards to fit three on the row */
  display: flex;
  flex-direction: column;
}

.header {
  display: block;
  text-align: center;
}

.top-component{
  padding-top: 50px;
}

.mat-card-image {
  height: 200px;
  object-fit: cover; /* Ensures images fill the space while keeping a good aspect ratio */
}

.mat-card-content {
  flex-grow: 1; /* Allows the content section to expand to fill the available space */
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}