<div class="top-component" style="background-color: red;">
    <br><h2 style="text-align:center; font-family:'Rockwell' ">dGjCreations</h2><br>
    <p style="text-align:center;">Design and customize products with dGjCreations</p>
    <div class="container card-container">
        <mat-card class="card">
            <mat-card-header class="header">
                <mat-card-title>Personalized Bottles</mat-card-title>
            </mat-card-header><hr>
            <img width="150" height="150" src="assets/bottles.jpg" title="Personlized bottles" class="image">
            <mat-card-content class="content">
                <p>
                    Order these customized bottles for private events such as birthday parties, baby showers, etc. 
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog()">ADD TO CART</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="header">
                <mat-card-title>Personalized Canvas</mat-card-title>
            </mat-card-header><hr>
            <img width="150" height="150" src="assets/canvas.jpeg" title="Personalized canvas" class="image">        
            <mat-card-content class="content">
                <p>
                    Order these customized bottles for private events such as birthday parties, baby showers, etc. 
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog()">ADD TO CART</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="header">
                <mat-card-title>Personalized Stole</mat-card-title>
            </mat-card-header><hr>
            <img width="150" height="150" src="assets/stole.jpeg" title="Personlized stole" class="image">        
            <mat-card-content class="content">
                <p>
                    Order these customized bottles for private events such as birthday parties, baby showers, etc. 
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openDialog()">ADD TO CART</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <br><br><br><br><br>
    <mat-card>
        <mat-card-header class="header">
            <mat-card-title>Contact Information</mat-card-title>
        </mat-card-header><hr>
        <mat-card-content class="content">
            <p>Diane Greenwood</p>
            <p>832-000-0000</p>
            <p>dgjcreations@gmail.com</p>
        </mat-card-content>
    </mat-card>
</div>