<div class="container" style="padding-top: 64px;">
  <mat-card>
    <h2 style="text-align: center;">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control" formControlName="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password" required />
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Login</button>
      <p style="text-align: center; padding-top: 10px;">Not a member? Register <a routerLink="/register">here</a></p>
    </form>
  </mat-card>
</div>
