<div style="padding-top: 64px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Items: {{ order.products }}</p>
      <p>For: {{ order.name }}</p>
      <p>Ship To: {{ order.address }}</p>
      <p>Total: {{ order.total | currency }}</p>
      <p>Payment Type: {{ order.paymentType }}</p>
    </mat-card-content>   
    <mat-card-actions>
      <button mat-flat-button (click)='onBack()'>Back</button>
    </mat-card-actions>
  </mat-card>
</div>