<div class="top-component">
  <h2>Cart ({{ cartItems.length }} items)</h2>
  <div class="cart-container">
    <div class="cart-details">
      <mat-card>
        <mat-card-content>
          <table mat-table [dataSource]="cartItems" class="mat-elevation-z8 cart">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <input type="number" [(ngModel)]="element.purchaseQuantity" (change)="updateQuantity(i, $event.target.value)" min="1" [max]="getQuantity(element)" value="1" />
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{ element.price | currency }} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button mat-flat-button color="warn" (click)="removeItem(i)">Remove</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cart-summary">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Order Summary</mat-card-title>
        </mat-card-header><hr>
        <mat-card-content>
          <div class="summary-container">
            <p>Item Total</p>
            <p>{{ itemTotal | currency }}</p>
          </div>
          <div class="total">
            <p>Sales Tax</p>
            <p>{{ salesTax | currency }}</p>
          </div><hr>
          <div class="total">
            <h5>Total</h5>
            <h5>{{ totalAmount | currency }}</h5>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="checkout" (click)="checkout()">Continue to checkout</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>