.top-component{
  padding-top: 64px;
}

.cart-container {
  display: flex;
}

.cart {
  width: 100%;
}

.cart-details {
  width: 65%;
  padding-left: 70px;
  padding-right: 30px;
}

.cart-summary {
  width: 30%;
  padding-right: 10px;
}

.checkout {
  background-color: red;
  color: white;
  width: 100%;
}

.summary-container, .total {
  display: flex;
  justify-content: space-between;
}

mat-card-header {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mat-column-quantity input {
  width: 50px;
}
