.top-component{
    padding-top: 64px;
}

.checkout-container {
    display: flex;
}

.shipping-info {
    width: 70%;
    padding-left: 70px;
}

.order-actions {
    width: 30%;
    padding-right: 70px;
}

.checkout {
    background-color: red;
    color: white;
    width: 100%;
}

.summary-container, .total {
    display: flex;
    justify-content: space-between;
}